footer {
    width: 100%;
    height: 150px;
    border-top: 1px solid $azul;
    background-color: $cinza;
    position: relative;
    left: 0;
    bottom: 0;

    +below($tablet) {
        height: 120px;
    }

    +mobile() {
        height: 280px;
    }

    .center {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        +mobile() {
            flex-direction: column;
        }

        .img-sbc {
            width: 100px;
            height: auto;
            object-fit: contain;
            margin-right: 45px;

            +below($tablet) {
                width: 80px;
                margin-right: 30px;
            }

            +mobile() {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        .site-sbc {
            margin: 0 85px 0 0;
            padding: 0;

            +below($tablet) {
                margin: 0 60px 0 0;
            }

            +mobile() {
                margin: 0 0 20px 0;
            }

            .visite {
                opensans(14);
                color: $azul;
                margin: 0;

                +below($tablet) {
                    font-size: 12px;
                }
            }

            .link-sbc {
                opensans(14, bold);
                color: $azul;
                margin: 0;

                +below($tablet) {
                    font-size: 12px;
                }
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 0 100px 0 0;

            +below($tablet) {
                margin: 0 60px 0 0;
            }

            +mobile() {
                margin: 0 0 20px 0;
                align-items: center;
            }

            .link-footer {
                opensans(12);
                color: $azul;
                margin: 0 0 5px 0;

                +below($tablet) {
                    font-size: 10px;
                }

                &.link-login {
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        margin: 0 0 10px 0;
                    }

                    +mobile() {
                        margin: 0 0 5px 0;
                    }
                }
            }
        }

        .copyright {
            .frase {
                opensans(10);
                color: $azul;
                margin: 0;
                line-height: 1.4;

                +below($tablet) {
                    font-size: 9px;
                }

                +mobile() {
                    font-size: 8px;
                    text-align: center;
                }
            }
        }
    }
}