header {
    width: 100%;
    height: 35px;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 0;

    +below($tablet) {
        height: 30px;
    }

    .center {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .link-cadastro, .link-logado, .link-deslogado {
            opensans(12);
            color: $azul;
            margin: 0;
            z-index: 99;

            +below($tablet) {
                font-size: 11px;
            }

            .img-seta {
                width: 10px;
                height: auto;
                margin-left: 5px;
            }
        }

        .submenu-logado, .submenu-deslogado {
            position: absolute;
            width: 190px;
            height: auto;
            top: 35px;
            border-top: 1px solid $azul;
            border-left: 1px solid $azul;
            border-right: 1px solid $azul;
            z-index: 99;

            +below($tablet) {
                width: 120px;
                top: 30px;
            }

            .link-alterar, .link-sair, .link-cadastro, .link-login {
                display: block;
                width: 100%;
                height: 30px;
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                opensans(16);
                color: $azul;
                border-bottom: 1px solid $azul;
                background-color: #FFF;
                transition: all 0.5s ease-in-out;

                +below($tablet) {
                    height: 25px;
                    padding: 0 10px;
                    font-size: 12px;
                }

                &:hover {
                    background-color: $azul;
                    color: #FFF;
                }
            }
        }
    }
}

.aviso-cookies {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
    padding: 30px;

    +mobile() {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .frase-cookies {
        width: 70%;
        opensans(14);
        color: #FFF;
        margin: 0;

        .link-politica {
            text-decoration: underline;

            &:hover, &:focus {
                font-weight: bold;
            }
        }

        +below($tablet) {
            font-size: 12px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
        }
    }

    .aceitar-cookies {
        width: 15%;
        height: 40px;
        opensans(14);
        color: #FFF;
        background-color: transparent;
        border: 1px solid #FFF;
        border-radius: 0;
        margin-left: 30px;
        cursor: pointer;
        outline: none;

        &:hover, &:focus {
            border: 1px solid $azul;
            background-color: $azul;
        }

        +below($tablet) {
            font-size: 12px;
            height: 30px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}