html, body {
    height: 100%;
    font-family: 'Noto Sans JP', 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;

    section {
        width: 100%;
        min-height: calc('100% - 150px');

        +below($tablet) {
            min-height: calc('100% - 120px');
        }

        +mobile() {
            min-height: calc('100% - 280px');
        }
    }
}
