desktop-base-width = 1200px;
rupture.desktop-cutoff = $tablet = 1200px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;

$vermelho = #E02227;
$verde = #2caf2c;
$vinho = #7A1315;
$azul = #1F345E;
$cinza = #E6E6E6;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

opensans($size, $weight = normal) {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 300;
    }

    if ($weight == medium) {
        font-weight: 500;
    }

    if ($weight == bold) {
        font-weight: 700;
    }
}