section.cadastros-create {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: -35px;

    +below($tablet) {
        margin-top: -30px;
    }

    .faixa {
        width: 200px;
        background-color: $vinho;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        z-index: 99;

        +below($tablet) {
            width: 15%;
        }

        +mobile() {
            width: 20%;
        }

        .teca {
            width: 100%;
            height: 200px;
            background-color: $vinho;
            filter: grayscale(50%);
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                height: 180px;
            }

            +mobile() {
                height: 120px;
            }

            .img-teca {
                width: 120px;
                height: auto;
                object-fit: contain;

                +below($tablet) {
                    width: 100px;
                }

                +mobile() {
                    width: 60px;
                }
            }
        }

        .img-livro {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .conteudo {
        width: calc('100% - 200px');
        height: auto;
        padding: 135px 40px 100px 150px;

        +below($tablet) {
            width: 85%;
            padding: 100px 30px 80px 100px;
        }

        +mobile() {
            width: 80%;
            padding: 80px 0 40px 40px;
        }

        .titulo {
            opensans(24, bold);
            color: $azul;
            margin: 0 0 30px 0;

            +below($tablet) {
                font-size: 20px;
                margin: 0 0 20px 0;
            }

            +mobile() {
                font-size: 18px;
            }
        }

        .form-cadastro {
            width: 530px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            +below($tablet) {
                width: 70%;
            }

            +mobile() {
                width: 100%;
            }

            .input-group {
                width: 100%;
                height: 30px;
                margin: 5px 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                +below($tablet) {
                    height: 25px;
                }

                +mobile() {
                    flex-direction: column;
                    align-items: flex-start;
                    height: auto;
                }

                label {
                    width: 130px;
                    opensans(16);
                    color: $azul;
                    margin: 0;
                    text-align: start;

                    +below($tablet) {
                        font-size: 14px;
                    }
                }

                input {
                    width: 400px;
                    height: 100%;
                    margin: 0;
                    padding: 0 15px;
                    outline: none;
                    border: 1px solid $azul;
                    border-radius: 0;
                    opensans(16, medium);
                    color: $azul;
                    transition: all 0.1s ease;

                    +below($tablet) {
                        font-size: 14px;
                        width: 75%;
                    }

                    +mobile() {
                        font-size: 12px;
                        padding: 0 10px;
                    }

                    &:hover, &:focus {
                        font-weight: 600;
                    }
                }
            }

            .btn-cadastrar {
                width: 200px;
                height: 40px;
                background-color: $azul;
                opensans(16, bold);
                color: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                cursor: pointer;
                border: 1px solid $azul;
                margin: 15px 0 15px auto;
                padding: 0;
                transition: all 0.5s ease-in-out;

                +below($tablet) {
                    font-size: 14px;
                    width: 150px;
                    height: 30px;
                }

                +mobile() {
                    font-size: 12px;
                    height: 25px;
                    margin: 15px auto 15px 0;
                }

                &:hover {
                    border: 1px solid $vinho;
                    background-color: $vinho;
                }
            }
        }

        .flash {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: auto;
            height: auto;
            max-width: 100%;
            opensans(12, medium);
            padding: 5px;
            border-radius: 0;
            position: absolute;

            > p {
                margin: 0;
            }

            &.flash-error {
                border: 2px solid $vermelho;
                background: $vermelho;
                color: #fff;
            }

            &.flash-success {
                border: 2px solid $verde;
                background: $verde;
                color: #fff;
            }
        }
    }
}