section.cadastros-login, section.cadastros-reset-request, section.cadastros-reset {
    background-color: $cinza;
    position: relative;
    padding: 70px 0;

    +mobile() {
        padding: 50px 0;
    }

    .center {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        +mobile() {
            flex-direction: column;
        }

        .login {
            width: 350px;
            height: 350px;
            padding: 45px 50px 30px 50px;
            background-color: #FFF;
            position: relative;

            +below($tablet) {
                width: 30%;
                height: 300px;
                padding: 30px 40px;
            }

            +mobile() {
                width: 75%;
                height: auto;
                padding-bottom: 120px;
            }

            .titulo {
                opensans(24, bold);
                color: $azul;
                margin: 0 0 20px 0;

                +below($tablet) {
                    font-size: 18px;
                    margin: 0 0 10px 0;
                }

                &.esqueci {
                    opensans(20, bold);
                    margin: 20px 0 40px 0;

                    +below($tablet) {
                        font-size: 14px;
                        margin: 10px 0 20px 0;
                    }
                }
            }

            .form-login, .form-esqueci, .form-reset {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                label {
                    opensans(16, medium);
                    color: $azul;
                    margin: 0 0 5px 0;

                    +below($tablet) {
                        font-size: 13px;
                    }
                }

                input[type='email'], input[type='password'] {
                    width: 100%;
                    height: 30px;
                    border: 1px solid $azul;
                    background-color: #FFF;
                    margin: 0 0 20px 0;
                    padding: 0 10px;
                    outline: none;
                    opensans(16, medium);
                    color: $azul;
                    transition: all 0.1s ease;

                    +below($tablet) {
                        font-size: 13px;
                        margin: 0 0 10px 0;
                        height: 25px;
                    }

                    &:hover, &:focus {
                        font-weight: 600;
                    }
                }

                .btn-entrar, .btn-solicitar, .btn-redefinir {
                    width: 100%;
                    height: 40px;
                    background-color: $azul;
                    opensans(16, bold);
                    color: #FFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                    cursor: pointer;
                    border: 1px solid $azul;
                    margin: 0 0 20px 0;
                    padding: 0;
                    transition: all 0.5s ease-in-out;

                    +below($tablet) {
                        font-size: 13px;
                        height: 30px;
                        margin: 10px 0;
                    }

                    &:hover {
                        border: 1px solid $vinho;
                        background-color: $vinho;
                    }
                }
            }

            .link-esqueci, .link-login {
                margin: 0;
                opensans(12);
                color: $azul;
                font-style: italic;
                transition: all 0.1s ease-in-out;

                +below($tablet) {
                    font-size: 10px;
                }

                &:hover {
                    font-weight: 600;
                    color: $vinho;
                }
            }

            .link-cadastro {
                position: absolute;
                left: calc('(100% - 250px) / 2');
                bottom: -65px;
                width: 250px;
                height: 40px;
                border: 2px solid #969FB0;
                background-color: transparent;
                opensans(12, bold);
                color: $azul;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background 0.5s ease-in-out;

                +below($tablet) {
                    font-size: 10px;
                    width: 70%;
                    height: 35px;
                    bottom: -50px;
                    left: 15%;
                }

                +mobile() {
                    bottom: 20px;
                }

                &:hover {
                    background-color: #969FB0;
                }
            }

            &.redefinir {
                padding: 30px 40px;

                .titulo {
                    font-size: 20px;
                    margin: 0 0 15px 0;
                }

                label {
                    font-size: 14px;
                    margin: 0;

                    +below($tablet) {
                        font-size: 12px;
                    }
                }

                input {
                    font-size: 14px;
                    margin: 0 0 15px 0 !important;
                    height: 25px !important;

                    +below($tablet) {
                        font-size: 12px !important;
                        margin: 0 0 10px 0 !important;
                    }
                }

                .btn-redefinir {
                    font-size: 14px;
                    margin: 0 0 15px 0 !important;
                    height: 30px;

                    +below($tablet) {
                        font-size: 12px;
                        margin: 0 0 10px 0;
                        height: 25px;
                    }
                }
            }

            .flash {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                width: auto;
                height: auto;
                max-width: 71%;
                opensans(12, medium);
                padding: 5px;
                border-radius: 0;
                position: absolute;

                +below($tablet) {
                    font-size: 10px;
                }

                > p {
                    margin: 0;
                }

                &.flash-error {
                    border: 2px solid $vermelho;
                    background: $vermelho;
                    color: #fff;
                }

                &.flash-success {
                    border: 2px solid $verde;
                    background: $verde;
                    color: #fff;
                }
            }
        }

        .capa-tecaa {
            width: 400px;
            height: auto;

            +below($tablet) {
                width: 35%;
            }

            +mobile() {
                width: 90%;
            }
        }

        .logo-sbc {
            width: 350px;
            height: 350px;
            background-color: #FFF;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                width: 30%;
                height: 300px;
            }

            +mobile() {
                width: 75%;
            }

            .img-sbc {
                width: 180px;
                height: auto;
                object-fit: contain;

                +below($tablet) {
                    width: 50%;
                }
            }
        }
    }
}