section.paginas {
    height: auto;
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: -35px;

    +below($tablet) {
        margin-top: -30px;
    }

    .faixa {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        +below($tablet) {
            width: 15%;
        }

        +mobile() {
            width: 20%;
        }

        .teca {
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                height: 180px;
            }

            +mobile() {
                height: 120px;
            }

            .img-teca {
                width: 120px;
                height: auto;
                object-fit: contain;

                +below($tablet) {
                    width: 100px;
                }

                +mobile() {
                    width: 60px;
                }
            }
        }

        .livro {
            width: 100%;
            height: calc('100% - 200px');

            +below($tablet) {
                height: calc('100% - 180px');
            }

            +mobile() {
                height: calc('100% - 120px');
            }

            .capitulo {
                width: 100%;
                height: auto;
                padding: 15px 10px;
                opensans(16, bold);
                color: #FFF;
                text-align: center;
                text-transform: uppercase;

                +below($tablet) {
                    padding: 10px 5px;
                    font-size: 14px;
                }

                +mobile() {
                    padding: 5px 3px;
                    font-size: 8px;
                }
            }

            .img-livro {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }

    .conteudo {
        width: calc('100% - 200px');
        height: auto;
        padding: 80px 40px 100px 150px;

        +below($tablet) {
            width: 85%;
            padding: 100px 30px 80px 100px;
        }

        +mobile() {
            width: 80%;
            padding: 80px 0 30px 30px;
        }

        .titulo {
            opensans(24, bold);
            color: $azul;
            text-transform: uppercase;
            margin: 0 0 50px 0;

            +below($tablet) {
                font-size: 20px;
                margin: 0 0 30px 0;
            }

            +mobile() {
                font-size: 18px;
            }
        }

        .texto {
            width: 100%;
            height: auto;
            opensans(16);
            color: $azul;

            +below($tablet) {
                font-size: 14px;
            }

            +mobile() {
                font-size: 12px;
            }

            p {
                margin: 0 0 20px 0;
                line-height: 1.3;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }

                img {
                    max-width: 100%;
                }
            }

            h2 {
                opensans(18, bold);
                margin: 0 0 20px 0;

                +below($tablet) {
                    font-size: 16px;
                    margin: 0 0 15px 0;
                }

                +mobile() {
                    font-size: 14px;
                }
            }

            h3 {
                width: 100%;
                height: auto;
                padding: 25px 90px 25px 160px;
                margin: 0 0 20px 0;
                background-image: $img('bandeira-pontoschave.svg');
                background-repeat: no-repeat;
                background-position: 20px 0;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.3;

                +below($tablet) {
                    padding: 20px 50px 20px 140px;
                    background-size: 90px;
                    font-size: 14px;
                }

                +mobile() {
                    padding: 110px 20px 20px 20px;
                    font-size: 12px;
                }
            }

            h6 {
                opensans(12, bold);
                margin: -15px 0 20px 10px;

                +below($tablet) {
                    font-size: 10px;
                    margin: -10px 0 15px 10px;
                }

                img {
                    max-width: 100%;
                }
            }

            ol {
                list-style-position: inside;
                margin: 0 0 20px 0;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }

                li {
                    margin: 0 0 5px 0;
                }
            }

            ul {
                list-style-position: inside;
                margin: 0 0 20px 0;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }

                li {
                    margin: 0 0 5px 0;
                }
            }

            table {
                width: 100% !important;
                border-spacing: 0;
                border-color: $azul;
                border-collapse: collapse;

                tbody {
                    tr {
                        border-color: $azul;

                        td {
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }

        .links-conteudo {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 80px 0 50px 0;
            position: relative;

            +below($tablet) {
                margin: 50px 0 30px 0;
            }

            +mobile() {
                flex-direction: column;
                align-items: flex-start;
            }

            .link-conteudo-lido {
                width: 170px;
                height: 45px;
                opensans(12, bold);
                color: $azul;
                padding: 0 0 0 50px;
                margin: 0 10px 0 0;
                border: 1px solid $azul;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background: $img('icone-checkbox.svg') no-repeat 20px #FFF;
                transition: all 0.1s ease-in-out;

                &:hover, &.lido, &.hover-active {
                    background: $img('icone-checkbox-hover.svg') no-repeat 20px $azul;
                    color: #FFF;
                }

                +below($tablet) {
                    width: 150px;
                    height: 40px;
                    font-size: 10px;
                    padding: 0 0 0 40px;
                    background: $img('icone-checkbox.svg') no-repeat 15px / 18px #FFF;
                    transition: all 0.1s ease-in-out;

                    +mobile() {
                        margin: 0 0 10px 0;
                    }

                    &:hover, &.lido, &.hover-active {
                        background: $img('icone-checkbox-hover.svg') no-repeat 15px / 18px $azul;
                    }
                }
            }

            .link-proximo-post {
                width: 250px;
                height: 45px;
                opensans(12, bold);
                color: $azul;
                padding: 0;
                margin: 0;
                border-top: 1px solid $azul;
                border-bottom: 1px solid $azul;
                border-left: 1px solid $azul;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                transition: all 0.05s ease-in-out;

                +below($tablet) {
                    width: 220px;
                    height: 40px;
                    font-size: 10px;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 5.5px;
                    left: 233px;
                    width: 31.5px;
                    height: 31.5px;
                    background-color: transparent;
                    border-right: 1px solid $azul;
                    border-bottom: 1px solid $azul;
                    -moz-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transition: all 0.05s ease-in-out;

                    +below($tablet) {
                        top: 5px;
                        left: 205.5px;
                        width: 28px;
                        height: 28px;
                    }
                }

                &:hover {
                    background-color: $azul;
                    color: #FFF;

                    &:after {
                        background-color: $azul;
                    }
                }
            }
        }

        .link-sumario {
            width: auto;
            opensans(14, bold);
            color: $azul;
            font-style: italic;
            padding: 10px 20px;
            border: 1px solid $azul;
            transition: all 0.3s ease-in-out;

            +below($tablet) {
                font-size: 12px;
                padding: 7px 12px;
            }

            &:hover {
                background-color: $azul;
                color: #FFF;
            }
        }
    }
}