section.politica {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: -35px;

    +below($tablet) {
        margin-top: -30px;
    }

    .faixa {
        width: 200px;
        background-color: $vinho;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        z-index: 99;

        +below($tablet) {
            width: 15%;
        }

        +mobile() {
            width: 20%;
        }

        .teca {
            width: 100%;
            height: 200px;
            background-color: $vinho;
            filter: grayscale(50%);
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                height: 180px;
            }

            +mobile() {
                height: 120px;
            }

            .img-teca {
                width: 120px;
                height: auto;
                object-fit: contain;

                +below($tablet) {
                    width: 100px;
                }

                +mobile() {
                    width: 60px;
                }
            }
        }

        .img-livro {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .conteudo {
        width: calc('100% - 200px');
        height: auto;
        padding: 135px 30% 100px 150px;

        +below($tablet) {
            width: 85%;
            padding: 100px 30px 80px 100px;
        }

        +mobile() {
            width: 80%;
            padding: 80px 0 40px 40px;
        }

        .titulo {
            opensans(24, bold);
            color: $azul;
            margin: 0 0 35px 0;

            +below($tablet) {
                font-size: 20px;
                margin: 0 0 20px 0;
            }

            +mobile() {
                font-size: 18px;
            }
        }

        .texto {
            opensans(14);
            color: $azul;

            +below($tablet) {
                font-size: 12px;
            }

            > p {
                margin: 0 0 20px 0;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }
            }
        }
    }
}