section.sumario {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: -35px;

    +below($tablet) {
        margin-top: -30px;
    }

    .faixa {
        width: 200px;
        background-color: $vinho;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        +below($tablet) {
            width: 15%;
        }

        +mobile() {
            width: 20%;
        }

        .teca {
            width: 100%;
            height: 200px;
            background-color: $vinho;
            filter: grayscale(50%);
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                height: 180px;
            }

            +mobile() {
                height: 120px;
            }

            .img-teca {
                width: 120px;
                height: auto;
                object-fit: contain;

                +below($tablet) {
                    width: 100px;
                }

                +mobile() {
                    width: 60px;
                }
            }
        }

        .img-livro {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .conteudo {
        width: calc('100% - 200px');
        height: auto;
        padding: 135px 40px 100px 150px;

        +below($tablet) {
            width: 85%;
            padding: 100px 30px 80px 100px;
        }

        +mobile() {
            width: 80%;
            padding: 80px 0 30px 30px;
        }

        .titulo {
            opensans(24, bold);
            color: $azul;
            margin: 0 0 20px 0;

            +below($tablet) {
                font-size: 20px;
            }

            +mobile() {
                font-size: 18px;
            }
        }

        .capitulo {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 10px;

            +mobile() {
                flex-direction: column;
            }

            .titulo-capitulo {
                width: 15%;
                height: 100%;
                opensans(12, medium);
                color: #FFF;
                text-align: center;
                line-height: 1.5;
                padding: 15px 10px;

                +below($tablet) {
                    font-size: 11px;
                    padding: 10px 5px;
                }

                +mobile() {
                    width: 100%;
                    text-align: start;
                    font-size: 12px;
                    padding: 5px 10px;
                }
            }

            .posts {
                width: 85%;
                height: auto;
                border-left: 2px solid #FFF;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                +mobile() {
                    width: 100%;
                    border-top: 2px solid #FFF;
                    border-left: none;
                }

                .post {
                    width: 100%;
                    height: 28px;
                    border-bottom: 2px solid #FFF;
                    display: flex;
                    align-items: center;
                    position: relative;

                    +below($tablet) {
                        height: 25px;
                    }

                    +mobile() {
                        min-height: 25px;
                        height: auto;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    .link-post {
                        width: 81%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        opensans(12, medium);
                        color: #FFF;
                        margin: 0;
                        padding: 0 20px;
                        border-right: 2px solid #FFF;
                        transition: all 0.3s ease-in-out;

                        +below($tablet) {
                            font-size: 11px;
                            padding: 0 15px;
                        }

                        +mobile() {
                            padding: 5px 10px;
                            width: 75%;
                            font-size: 10px;
                        }

                        &:hover {
                            background-color: #FFF;
                            color: $azul;
                            border: 1px solid $azul;
                        }
                    }

                    .status {
                        width: 20%;
                        height: 100%;
                        position: relative;
                        background-color: #FFF;

                        +mobile() {
                            width: 25%;
                        }

                        .nenhum, .iniciado, .concluido {
                            width: 100%;
                            height: 100%;
                            opensans(10, medium);
                            color: #FFF;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            +below($tablet) {
                                font-size: 9px;
                            }

                            +mobile() {
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}